<!-- src/app/views/users/users.dialog.html -->

<h2 mat-dialog-title class="dialog-title">
  <mat-icon class="title-icon">
    {{ form.value.id ? 'edit' : 'person_add' }}
  </mat-icon>

  {{ form.value.id ? 'Editar usuario' : 'Nuevo usuario' }}
</h2>

<div mat-dialog-content class="dialog-body">
  <p class="note-required">
    <span class="asterisk">*</span> Campos obligatorios
  </p>
  <form [formGroup]="form" class="form-grid">
    <!-- FILA 1 -->
    <div class="fila fila-1">
      <!-- campo requerido -->
      <mat-form-field appearance="outline" class="rut-field">
        <mat-label>RUT<span class="required"></span></mat-label>
        <input
          matInput
          formControlName="rut"
          required
          (input)="autoFormatRut($event)"
          (blur)="onRutFinalizado()"
          maxlength="12"
          placeholder="Ej: 11.799.136-9"
          [readonly]="isEditing"
        />
        <mat-icon *ngIf="isEditing" matSuffix>lock</mat-icon>
        <mat-error *ngIf="form.get('rut')?.hasError('rutDuplicado')">
          Este RUT ya está registrado
        </mat-error>
        <mat-error *ngIf="form.get('rut')?.hasError('required')">
          El RUT es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('rut')?.hasError('rutInvalido')">
          RUT inválido
        </mat-error>
      </mat-form-field>
    </div>

    <!-- FILA 2 -->
    <div class="fila fila-2">
      <!-- campo requerido -->
      <mat-form-field appearance="outline" class="nombre-field">
        <mat-label>Nombre 1<span class="required"></span></mat-label>
        <input
          matInput
          formControlName="firstName"
          (blur)="generarUsername()"
        />
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">
          El nombre es obligatorio
        </mat-error>
      </mat-form-field>
      <!-- fin campo requerido -->

      <mat-form-field appearance="outline" class="nombre-field">
        <mat-label>Nombre 2</mat-label>
        <input
          matInput
          formControlName="secondName"
          (blur)="generarUsername()"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="nombre-field">
        <mat-label>Apellido 1</mat-label>
        <input
          matInput
          formControlName="firstLastName"
          (blur)="generarUsername()"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="nombre-field">
        <mat-label>Apellido 2</mat-label>
        <input matInput formControlName="secondLastName" />
      </mat-form-field>
    </div>

    <!-- FILA 3 -->
    <div class="fila fila-3">
      <mat-form-field appearance="outline" class="email-field">
        <mat-label>Email<span class="required"></span></mat-label>
        <input
          matInput
          formControlName="email"
          required
          type="email"
          (blur)="completarCorreo()"
          placeholder="ejemplo@redsalud.gob.cl"
          required
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El email es obligatorio
        </mat-error>
        <mat-hint>
          Puede ingresar cualquier correo válido. Si no escribe dominio, se completará con &#64;redsalud.gob.cl
        </mat-hint>
      </mat-form-field>
      <!-- fin campo requerido -->

      <!-- Usuario + Password -->

      <mat-form-field appearance="outline" class="nick-field">
        <mat-label>Nick</mat-label>
        <input matInput formControlName="username" />
        <mat-hint>
          Se genera automáticamente desde el nombre y apellido
        </mat-hint>
      </mat-form-field>

      <!-- campo requerido -->
      <mat-form-field appearance="fill" class="password-field">
        <mat-label
          >{{ isEditing ? 'Cambiar contraseña (opcional)' : 'Contraseña'
          }}</mat-label
        >
        <input
          matInput
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
          autocomplete="new-password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="!hidePassword"
          matTooltip="Mostrar/Ocultar contraseña"
          type="button"
        >
          <mat-icon
            >{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon
          >
        </button>

        <mat-error *ngIf="form.get('password')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
          Mínimo 6 caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <!-- fin campo requerido -->

    <!-- campo requerido -->
    <!-- Programas y Roles -->
    <mat-dialog-content class="dialog-content">
      <div class="bottom-section">
        <mat-card appearance="outlined" class="programs-card">
          <mat-card-header>
            <mat-card-title>
              Programas
              <span class="required" *ngIf="programIsRequired">*</span>
            </mat-card-title>

            <mat-card-subtitle>
              {{ programIsRequired ? 'Obligatorio para el rol ADMINISTRATIVO' :
              'No requerido para el rol seleccionado' }}
            </mat-card-subtitle>

            <mat-error
              *ngIf="
        programIsRequired &&
        form.get('programs')?.touched &&
        !form.get('programs')?.value?.length
      "
            >
              El rol ADMINISTRATIVO requiere al menos un programa
            </mat-error>
          </mat-card-header>

          <mat-card-content class="scrollable-content">
            <mat-selection-list
              formControlName="programs"
              class="scrollable-list"
            >
              <mat-list-option
                *ngFor="let program of programs"
                [value]="program.id"
              >
                {{ program.name }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="role-card">
          <mat-card-header>
            <mat-card-title>
              Roles <span class="required">*</span>
            </mat-card-title>

            <mat-error
              *ngIf="
        form.get('roles')?.touched &&
        !form.get('roles')?.value?.length
      "
            >
              Debe seleccionar al menos un rol
            </mat-error>
          </mat-card-header>

          <mat-card-content>
            <mat-selection-list formControlName="roles" class="scrollable-list">
              <mat-list-option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-dialog-content>
    <!-- fin campo requerido -->
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()" [disabled]="isSaving">
    Cancelar
  </button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="save()"
    [disabled]="form.invalid || isSaving"
  >
    <mat-icon>{{ isSaving ? 'hourglass_top' : 'save' }}</mat-icon>

    {{ isSaving ? 'Guardando…' : 'Guardar' }}
  </button>
</div>
