//src\app\views\users\users.component.scss

@use '../../shared/styles/base-list.scss' as *;


/* Forzar estilos en el título con icono */
::ng-deep .titulo-genero,
.titulo-genero {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;

  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #1565c0 !important;
}

/* Forzar color en el ícono M3 */
::ng-deep .titulo-genero mat-icon svg {
  fill: #1565c0 !important;
  color: #1565c0 !important;
}

/* Por si Material aplica stroke */
::ng-deep .titulo-genero mat-icon svg * {
  stroke: #1565c0 !important;
  fill: #1565c0 !important;
}