<!-- // src/app/pages/substances/diverter.dialog.html -->

<h6 mat-dialog-title>{{ form.value.id ? 'Editar Quién Deriva' : 'Nueva Substance' }}</h6>

<div mat-dialog-content>
  <mat-card class="dialog-card">
    <mat-card-content>
      <form [formGroup]="form" class="form">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Referencia</mat-label>
          <input matInput formControlName="name" autocomplete="off" (keydown.enter)="save()" />
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">Guardar</button>
</div>